@media (max-width: 767px) {
    .main {
        left: 10px;
        right: 10px;
        top: 50%;
        bottom: 12px;
        width: auto;
        max-width: none;
    }
}

@media (max-width: 420px) {
    .main-sizes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 280px) {
    .main-sizes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 305px) {
    .main-speeds {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 380px) {
    .order-fields {
        grid-template-columns: repeat(1, 1fr);
    }
}